/*.nav-tabs {
    margin-top: 5px;
    margin-bottom: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:5px;
    border-radius: 5px;
    background-color: #00558C;
}*/
.panel {
    margin: 5px 0px 5px 0px;
}

.panel .panel-heading {
    padding: 5px 10px 0px 10px;
}

.panel .panel-body {
    padding-left: 5px;
    padding-bottom: 5px;
    min-height: 500px;
}

.panel .nav-tabs {
    border-bottom: none;
    margin-bottom: -1px;
}

.nav-tabs > li > a {
color: white;

}

.nav-tabs > li > a:hover, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
color: #00558C;
}

.panel .panel-heading > .row > .col-md-4 {
    text-align: center;
}